<div class="main form">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>

	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="icon" id="icon"></div>
			<div class="title main">
				<span id="main-title">Govnah</span>
				<span class="version" id="version">v0.0.0</span>
			</div>
			<div class="title sub" id="subTitle"></div>
		</div>
	</div>
	
	<div class="palm-list" id="list">
		
		<div class="palm-row" id="governorRow" x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper">
				<div class="label left">Current Governor</div>
				<div class="title right" id="governorCurrent">...</div>
			</div>
		</div>
		
		<div class="palm-row">
			<div class="palm-row-wrapper" id="graph">
				<div class="title center" id="scale"></div>
				<div class="label left" id="vertTop"><div class="count" id="vertTopCount"></div></div>
				<div class="label left" id="vertBot"><div class="count" id="vertBotCount"></div></div>
				<canvas id="graphCanvas" width="320" height="101"></canvas>
			</div>
		</div>
		
		
	</div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
