<div class="main form">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>

	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="icon" id="icon"></div>
			<div class="title main">
				<span id="main-title">Govnah</span>
				<span class="version" id="version">v0.0.0</span>
			</div>
			<div class="title sub" id="subTitle"></div>
		</div>
	</div>
	
	<div class="palm-list" id="list">
		
		<div class="palm-row" id="profileRow" x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper">
				<div class="label left">Profile</div>
				<div class="title right" id="profileCurrent">...</div>
			</div>
		</div>
		
		<div class="palm-row" id="freqRow">
			<div class="palm-row-wrapper">
				<canvas id="freqCanvas" width="320" height="31"></canvas>
				<div class="label left">Frequency</div>
				<div class="title right" id="freqCurrent">...</div>
			</div>
		</div>
		
		<div class="palm-row" id="tempRow">
			<div class="palm-row-wrapper">
				<canvas id="tempCanvas" width="320" height="31"></canvas>
				<div class="label left">Temperature</div>
				<div class="title right" id="tempCurrent">...</div>
			</div>
		</div>
		
		<div class="palm-row" id="currRow">
			<div class="palm-row-wrapper">
				<canvas id="currCanvas" width="320" height="31"></canvas>
				<div class="label left">Current Draw</div>
				<div class="title right" id="currCurrent">...</div>
			</div>
		</div>		
		
		<div class="palm-row" id="loadRow">
			<div class="palm-row-wrapper">
				<canvas id="loadCanvas" width="320" height="31"></canvas>
				<div class="label left">Load Average</div>
				<div class="title right" id="loadCurrent">...</div>
			</div>
		</div>
		
		<div class="palm-row" id="memRow">
			<div class="palm-row-wrapper">
				<canvas id="memCanvas" width="320" height="31"></canvas>
				<div class="label left">Memory / Swap</div>
				<div class="title right" id="memCurrent">...</div>
			</div>
		</div>
		
		<div class="palm-row" id="timeRow">
			<div class="palm-row-wrapper">
				<canvas id="stateCanvas" width="320" height="28"></canvas>
				<div class="label left">Time In State</div>
			</div>
		</div>

	</div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
