<div class="dock">
	
	
	<div class="palm-list" id="list">
		
		<div class="palm-row" id="freq1Row">
			<div class="palm-row-wrapper">
				<canvas id="freq1Canvas" width="320" height="61"></canvas>
				<div class="label left"id="main-scene-frequency1">CPU 1 Frequency</div>
				<div class="title right" id="freq1Current">N/A</div>
			</div>
		</div>
		
		<div class="palm-row" id="freq2Row">
			<div class="palm-row-wrapper">
				<canvas id="freq2Canvas" width="320" height="61"></canvas>
				<div class="label left"id="main-scene-frequency2">CPU 2 Frequency</div>
				<div class="title right" id="freq2Current">N/A</div>
			</div>
		</div>
		
		<div class="palm-row" id="tempRow">
			<div class="palm-row-wrapper">
				<canvas id="tempCanvas" width="320" height="61"></canvas>
				<div class="label left" id="main-scene-temperature">Temperature</div>
				<div class="title right" id="tempCurrent">N/A</div>
			</div>
		</div>
		
		<div class="palm-row" id="currRow">
			<div class="palm-row-wrapper">
				<canvas id="currCanvas" width="320" height="61"></canvas>
				<div class="label left" id="main-scene-battery-current">Battery Current</div>
				<div class="title right" id="currCurrent">N/A</div>
			</div>
		</div>		
		
		<div class="palm-row" id="loadRow">
			<div class="palm-row-wrapper">
				<canvas id="loadCanvas" width="320" height="61"></canvas>
				<div class="label left" id="main-scene-load-average">Load Average</div>
				<div class="title right" id="loadCurrent">N/A</div>
			</div>
		</div>
		
		<div class="palm-row" id="memRow">
			<div class="palm-row-wrapper">
				<canvas id="memCanvas" width="320" height="61"></canvas>
				<div class="label left" id="main-scene-memory-swap">Memory / Swap</div>
				<div class="title right" id="memCurrent">N/A</div>
			</div>
		</div>

	</div>
	
</div>
