<div class="profiles">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-header" id="header">
	  <div id="back" class="backPill"></div>
	  <span id="title">Profiles</span>
	</div>
	
	<div class="palm-header-spacer"></div>
		
	<div class="palm-list">

		<div class="palm-row single" id="advancedRow" x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper">
				<div class="title" id="profiles-scene-advanced-settings">Advanced Settings</div>
			</div>
		</div>
		
		<div class="palm-divider solid"></div>
		
		<div id="profileList" x-mojo-element="List"></div>
		
	</div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
