<div class="form governor volt">
	
	<!--<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>-->
	
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="icon"></div>
			<div class="title" id="voltage-title">Voltages</div>
		</div>
	</div>
	
	
	<div class="slider first">
		<div class="freq">1</b>G</div>
		<div class="button" x-mojo-tap-highlight="immediate" style="top: 50px;">
			<div class="volt">50</div>
		</div>
	</div>
	<div class="slider">
		<div class="freq"><b>800</b>M</div>
		<div class="button" x-mojo-tap-highlight="immediate" style="top: 10px;">
			<div class="volt">10</div>
		</div>
	</div>
	<div class="slider">
		<div class="freq"><b>720</b>M</div>
		<div class="button" x-mojo-tap-highlight="immediate" style="top: 60px;">
			<div class="volt">60</div>
		</div>
	</div>
	<div class="slider">
		<div class="freq"><b>600</b>M</div>
		<div class="button" x-mojo-tap-highlight="immediate" style="top: 120px;">
			<div class="volt">120</div>
		</div>
	</div>
	<div class="slider">
		<div class="freq"><b>500</b>M</div>
		<div class="button" x-mojo-tap-highlight="immediate" style="top: 200px;">
			<div class="volt">200</div>
		</div>
	</div>
	<div class="slider">
		<div class="freq"><b>250</b>M</div>
		<div class="button" x-mojo-tap-highlight="immediate" style="top: 100px;">
			<div class="volt">100</div>
		</div>
	</div>
	<div class="slider">
		<div class="freq"><b>125</b>M</div>
		<div class="button" x-mojo-tap-highlight="immediate" style="top: 250px;">
			<div class="volt">250</div>
		</div>
	</div>
	
	
	<!--<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>-->
	
</div>
