<div class="form governor" id="container">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-page-header multi-line" id="header">
		<div class="palm-page-header-wrapper">
			<div class="help-toggle" id="help-toggle" x-mojo-tap-highlight="persistent"></div>
			<div class="icon"></div>
			<div class="title" id="compressed-swap-title">Compressed Swap</div>
		</div>
	</div>

    <div id="compcache_group">
    	<div class="palm-group">
    		<div class="palm-group-title" id="compcache-configuration-title">Compcache Configuration</div>
    		<div class="palm-list" id="compcache_config">
			
    		</div>
    	</div>
    </div>

	<div id="saveButton" x-mojo-element="Button"></div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
