<div class="form governor">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="icon"></div>
			<div class="title">Compache Settings</div>
		</div>
	</div>

    <div id="compcache_group">
    	<div class="palm-group">
    		<div class="palm-group-title">Compcache Configuration</div>
    		<div class="palm-list" id="compcache_config">
			
    		</div>
    	</div>
    </div>

	<div id="saveButton" x-mojo-element="Button"></div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
