<div class="prefs form">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="icon" id="icon"></div>
			<div class="title" id="preferences-title">Preferences</div>
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title" id="global-title">Global</div>
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div id="theme" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title" id="card-open-title">Card Open</div>
		<div class="palm-list">
			
			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div id="cardPollSpeed" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div class="label left" id="preferences-scene-update-launcher">Update Launcher Icon</div>
					<div id="cardIconUpdate" x-mojo-element="ToggleButton"></div>
					<div class="palm-body-text note" id="note-cause-app-catalog">* Causes App Catalog To Flicker.</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="palm-group disabled">
		<div class="palm-group-title" id="dashboard-title">Dashboard</div>
		<div class="palm-list">
			
			<div class="palm-row single" id="useDashContainer">
				<div class="palm-row-wrapper">
					<div class="label left" id="preferences-scene-use-dashboard">Use Dashboard</div>
					<div id="useDash" x-mojo-element="ToggleButton"></div>
				</div>
			</div>
			
			<div id="dashSettings">
			
				<div class="palm-row">
					<div class="palm-row-wrapper">
						<div id="dashPollSpeed" x-mojo-element="ListSelector"></div>
					</div>
				</div>
				
				<div class="palm-row last">
					<div class="palm-row-wrapper">
						<div class="label left" id="preferences-scene-update-launcher-icon">Update Launcher Icon</div>
						<div id="dashIconUpdate" x-mojo-element="ToggleButton"></div>
					</div>
				</div>
			
			</div>
			
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title" id="profiles-title">Profiles</div>
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div id="profileList" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title" id="settings-title">Settings</div>
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div class="label left" id="preferences-scene-manual-entry">Manual Entry</div>
					<div id="manualEntry" x-mojo-element="ToggleButton"></div>
					<div class="palm-body-text note" id="note-for-experienced-users">* For Experienced Users Only.</div>
				</div>	
			</div>
			
		</div>
	</div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
