/*
 * Global Styles
 */
.scene-fade-top
{
	position: fixed; 
	top: 0; 
	z-index: 11000;
	height: 30px; 
	width: 100%;
	background: url(../images/palm-default/scrollFade-top.png) top center repeat-x;
	-webkit-palm-mouse-target: ignore;
}
.scene-fade-bottom
{
	position: fixed; 
	bottom: 0; 
	z-index: 11000;
	height: 30px; 
	width: 100%;
	background: url(../images/palm-default/scrollFade-bottom.png) bottom center repeat-x;
	-webkit-palm-mouse-target: ignore;
}
body.palm-dark .scene-fade-top
{
	background: url(../images/palm-dark/scrollFade-top.png) top center repeat-x;
}
body.palm-dark .scene-fade-bottom
{
	background: url(../images/palm-dark/scrollFade-bottom.png) bottom center repeat-x;
}
.palm-separator
{
  height: 2px;
 /* margin: 0 -18px;*/
  background: url(../images/palm-default/list-separator-light.png) bottom left repeat-x;
}
body.palm-dark .palm-separator
{
  background: url(../images/palm-dark/list-separator-dark.png) bottom left repeat-x;
}
.palm-list .palm-row-wrapper .sub
{
	top: -19px;
	color: #999;
	font-size: 14px;
	padding-top: 0px;
	margin-top: -14px;
	padding-left: 16px;
	padding-bottom: 6px;
}


/*
 * Startup Scene Styles
 */
.startup #data .palm-divider.labeled .label
{
	text-transform: lowercase;
}
.startup #data
{
	font-size: 18px;
}
.startup #data .text
{
	padding-top: 4px;
	padding-left: 17px;
	padding-right: 15px;
	padding-bottom: 10px;
}
.startup #data ul
{
	margin: 0px;
	padding-left: 37px;
	padding-right: 15px;
	padding-bottom: 10px;
}


/*
 * Main Scene Styles
 */
.main .palm-page-header-wrapper .icon
{
	width: 76px;
	height: 75px;
	background: url(../icon.png) center center no-repeat;
}
.main .palm-page-header-wrapper .title
{
	padding-left: 80px;
}
.main .palm-page-header-wrapper .title.main
{
	font-size: 30px;
	padding-top: 5px;
	padding-bottom: 0px;
}
.main .palm-page-header-wrapper .title .version
{
	font-size: 12px;
	color: #888;
	text-transform: lowercase;
}
.main .palm-page-header-wrapper .title.sub
{
	font-size: 14px;
	padding-top: 0px;
	margin-top: 0px;
}

.main .palm-row .title.right .unknown
{
	color: #aaa;
}

.main #graph
{
	position: relative;
	height: 104px;
	padding: 0px;
}
.main #graph .title,
.main #graph .label
{
	padding: 0px;
	margin: 0px;
	float: none;
}
.main #graph .label
{
    line-height: 19px;
    height: 21px;
    min-width: 31px;
	vertical-align: middle;
    -webkit-border-image: url(../images/graphBubble-left.png) 5 10 5 10 stretch stretch;
    -webkit-box-sizing: border-box;
    border-width: 5px 10px 5px 10px;
}
.main #graph .label .count
{
	position: absolute;
	top: -4px;
	left: -3px;
}
.main #graph #scale
{
	position: absolute;
	color: #ccc;
	height: 50px;
	width: 200px;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}
.main #graph #vertTop
{
	position: absolute;
	z-index: 10;
	margin-left: 11px;
	margin-top: 5px;
	top: 0px;
}
.main #graph #vertBot
{
	position: absolute;
	z-index: 10;
	margin-left: 11px;
	top: 77px;
}
.main #graph #graphCanvas
{
	position: absolute;
	z-index: 0;
	top: 1px;
}

.main .palm-row-wrapper
{
	position: relative;
}
.main canvas#freqCanvas,
.main canvas#tempCanvas,
.main canvas#currCanvas,
.main canvas#loadCanvas,
.main canvas#memCanvas,
.main canvas#stateCanvas
{
	position: absolute;
	z-index: -5;
	top: 22px;
}




.settings .palm-row-wrapper.disabled .title
{
	color: #999;
}




/*
 * Governor Scene Styles
 */
.governor .palm-row .label
{
	max-width: 300px;
}
.governor .palm-row .palm-row-wrapper
{
	position: relative;
}
.governor .palm-row .palm-row-wrapper
{
	min-height: 53px;
}
.governor .palm-row .palm-row-wrapper .help-overlay
{
	display: none;
	position: absolute;
	z-index: 10000;
	top: 0px;
	left: 0px;
	width: 300px;
	height: 53px;
	background-position: 3px 3px;
	background-repeat: no-repeat;
	background-image: url(../images/palm-default/helprow.png);
}
.governor.help .palm-row .palm-row-wrapper .help-overlay
{
	display: block;
}
.governor .palm-row.first .palm-row-wrapper .help-overlay
{
	background-image: url(../images/palm-default/helprow-first.png);
}
.governor .palm-row.single .palm-row-wrapper .help-overlay
{
	background-image: url(../images/palm-default/helprow-single.png);
}
.governor .palm-row.last .palm-row-wrapper .help-overlay
{
	background-image: url(../images/palm-default/helprow-last.png);
}
.governor .help-toggle
{
	position: absolute;
	right: 11px;
	top: 11px;
	width: 32px;
	height: 32px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-image: url(../images/palm-default/help-toggle.png);
}
.governor .help-toggle.selected
{
	background-position: 0px -32px;
}


/*
 * Profile Scene Styles
 */
.profiles #profileList.governor .palm-row .sub,
.profiles #profileList.name .palm-row .sub
{
	display: none;
}
.profiles #profileList.all .palm-row .right,
.profiles #profileList.name .palm-row .right
{
	display: none;
}
.profiles .palm-row .sub
{
	padding-bottom: 16px;
}
.profiles .palm-row .sub .name
{
	padding-left: 10px;
	text-transform: capitalize;
}
.profiles .palm-row .sub .value
{
	float: right;
	padding-right: 10px;
}
.profiles .palm-row .right
{
	padding-top: 12px;
	float: right;
	color: #999;
	padding-right: 10px;
}


/*
 * Dashboard Scene Styles
 */
.dashboard .palm-dashboard-icon
{
	-webkit-background-size: 48px 48px;
	background: url(../icon.png) center center no-repeat;
}


/*
 * Generic Form Styles
 */
.form .palm-row-wrapper .note
{
	clear: both;
	padding-left: 10px;
	font-style: italic;
}
.form .palm-row-wrapper .label.left
{
	padding-left: 6px;
	-webkit-palm-mouse-target: ignore;
}
.form .palm-list-selector .label
{
	float: left;
}
.form .palm-list-selector .title
{
	text-align: right;
}
.form .palm-group.disabled
{
	opacity: 0.35;
}
.form .palm-row .title.right .unit
{
	float: right;
	padding-left: 8px;
	padding-top: 4px;
	text-align: left;
	color: #aaa;
	font-size: 16px;
}

/*
 * Help Scene Styles
 */
.help .list_scene
{
	position:relative;
	left:48px;
	top:10px;
	width:32px; 
	height:32px;
	vertical-align:bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.help .img_web
{
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/help/application-web.png) no-repeat  bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.help .img_email
{
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/help/application-email.png) no-repeat bottom;
	vertical-align:bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.help #data
{
	padding: 10px;
}



/*
 * Generic Temp Icon Styles
 */
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-15,
.main .palm-page-header-wrapper .icon.temp-15 { background-image: url(../images/icons/icon-15.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-16,
.main .palm-page-header-wrapper .icon.temp-16 { background-image: url(../images/icons/icon-16.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-17,
.main .palm-page-header-wrapper .icon.temp-17 { background-image: url(../images/icons/icon-17.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-18,
.main .palm-page-header-wrapper .icon.temp-18 { background-image: url(../images/icons/icon-18.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-19,
.main .palm-page-header-wrapper .icon.temp-19 { background-image: url(../images/icons/icon-19.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-20,
.main .palm-page-header-wrapper .icon.temp-20 { background-image: url(../images/icons/icon-20.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-21,
.main .palm-page-header-wrapper .icon.temp-21 { background-image: url(../images/icons/icon-21.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-22,
.main .palm-page-header-wrapper .icon.temp-22 { background-image: url(../images/icons/icon-22.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-23,
.main .palm-page-header-wrapper .icon.temp-23 { background-image: url(../images/icons/icon-23.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-24,
.main .palm-page-header-wrapper .icon.temp-24 { background-image: url(../images/icons/icon-24.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-25,
.main .palm-page-header-wrapper .icon.temp-25 { background-image: url(../images/icons/icon-25.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-26,
.main .palm-page-header-wrapper .icon.temp-26 { background-image: url(../images/icons/icon-26.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-27,
.main .palm-page-header-wrapper .icon.temp-27 { background-image: url(../images/icons/icon-27.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-28,
.main .palm-page-header-wrapper .icon.temp-28 { background-image: url(../images/icons/icon-28.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-29,
.main .palm-page-header-wrapper .icon.temp-29 { background-image: url(../images/icons/icon-29.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-30,
.main .palm-page-header-wrapper .icon.temp-30 { background-image: url(../images/icons/icon-30.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-31,
.main .palm-page-header-wrapper .icon.temp-31 { background-image: url(../images/icons/icon-31.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-32,
.main .palm-page-header-wrapper .icon.temp-32 { background-image: url(../images/icons/icon-32.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-33,
.main .palm-page-header-wrapper .icon.temp-33 { background-image: url(../images/icons/icon-33.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-34,
.main .palm-page-header-wrapper .icon.temp-34 { background-image: url(../images/icons/icon-34.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-35,
.main .palm-page-header-wrapper .icon.temp-35 { background-image: url(../images/icons/icon-35.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-36,
.main .palm-page-header-wrapper .icon.temp-36 { background-image: url(../images/icons/icon-36.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-37,
.main .palm-page-header-wrapper .icon.temp-37 { background-image: url(../images/icons/icon-37.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-38,
.main .palm-page-header-wrapper .icon.temp-38 { background-image: url(../images/icons/icon-38.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-39,
.main .palm-page-header-wrapper .icon.temp-39 { background-image: url(../images/icons/icon-39.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-40,
.main .palm-page-header-wrapper .icon.temp-40 { background-image: url(../images/icons/icon-40.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-41,
.main .palm-page-header-wrapper .icon.temp-41 { background-image: url(../images/icons/icon-41.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-42,
.main .palm-page-header-wrapper .icon.temp-42 { background-image: url(../images/icons/icon-42.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-43,
.main .palm-page-header-wrapper .icon.temp-43 { background-image: url(../images/icons/icon-43.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-44,
.main .palm-page-header-wrapper .icon.temp-44 { background-image: url(../images/icons/icon-44.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-45,
.main .palm-page-header-wrapper .icon.temp-45 { background-image: url(../images/icons/icon-45.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-46,
.main .palm-page-header-wrapper .icon.temp-46 { background-image: url(../images/icons/icon-46.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-47,
.main .palm-page-header-wrapper .icon.temp-47 { background-image: url(../images/icons/icon-47.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-48,
.main .palm-page-header-wrapper .icon.temp-48 { background-image: url(../images/icons/icon-48.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-49,
.main .palm-page-header-wrapper .icon.temp-49 { background-image: url(../images/icons/icon-49.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-50,
.main .palm-page-header-wrapper .icon.temp-50 { background-image: url(../images/icons/icon-50.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-51,
.main .palm-page-header-wrapper .icon.temp-51 { background-image: url(../images/icons/icon-51.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-52,
.main .palm-page-header-wrapper .icon.temp-52 { background-image: url(../images/icons/icon-52.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-53,
.main .palm-page-header-wrapper .icon.temp-53 { background-image: url(../images/icons/icon-53.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-54,
.main .palm-page-header-wrapper .icon.temp-54 { background-image: url(../images/icons/icon-54.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-55,
.main .palm-page-header-wrapper .icon.temp-55 { background-image: url(../images/icons/icon-55.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-56,
.main .palm-page-header-wrapper .icon.temp-56 { background-image: url(../images/icons/icon-56.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-57,
.main .palm-page-header-wrapper .icon.temp-57 { background-image: url(../images/icons/icon-57.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-58,
.main .palm-page-header-wrapper .icon.temp-58 { background-image: url(../images/icons/icon-58.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-59,
.main .palm-page-header-wrapper .icon.temp-59 { background-image: url(../images/icons/icon-59.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-60,
.main .palm-page-header-wrapper .icon.temp-60 { background-image: url(../images/icons/icon-60.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-61,
.main .palm-page-header-wrapper .icon.temp-61 { background-image: url(../images/icons/icon-61.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-62,
.main .palm-page-header-wrapper .icon.temp-62 { background-image: url(../images/icons/icon-62.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-63,
.main .palm-page-header-wrapper .icon.temp-63 { background-image: url(../images/icons/icon-63.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-64,
.main .palm-page-header-wrapper .icon.temp-64 { background-image: url(../images/icons/icon-64.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-65,
.main .palm-page-header-wrapper .icon.temp-65 { background-image: url(../images/icons/icon-65.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-66,
.main .palm-page-header-wrapper .icon.temp-66 { background-image: url(../images/icons/icon-66.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-67,
.main .palm-page-header-wrapper .icon.temp-67 { background-image: url(../images/icons/icon-67.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-68,
.main .palm-page-header-wrapper .icon.temp-68 { background-image: url(../images/icons/icon-68.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-69,
.main .palm-page-header-wrapper .icon.temp-69 { background-image: url(../images/icons/icon-69.png); }
.dashboard-notification-module .palm-dashboard-icon-container .palm-dashboard-icon.temp-70,
.main .palm-page-header-wrapper .icon.temp-70 { background-image: url(../images/icons/icon-70.png); }