/*
 * Global Styles
 */
.scene-fade-top
{
	position: fixed; 
	top: 0; 
	z-index: 11000;
	height: 30px; 
	width: 100%;
	background: url(../images/scrollFade-top.png) top center repeat-x;
	-webkit-palm-mouse-target: ignore;
}
.scene-fade-bottom
{
	position: fixed; 
	bottom: 0; 
	z-index: 11000;
	height: 30px; 
	width: 100%;
	background: url(../images/scrollFade-bottom.png) bottom center repeat-x;
	-webkit-palm-mouse-target: ignore;
}

/*
 * Main Scene Styles
 */
.main .palm-page-header-wrapper .icon
{
	width: 76px;
	height: 75px;
	background: url(../icon.png) center center no-repeat;
}
.main .palm-page-header-wrapper .icon.temp-25 { background-image: url(../images/icons/icon-25.png); }
.main .palm-page-header-wrapper .icon.temp-26 { background-image: url(../images/icons/icon-25.png); }
.main .palm-page-header-wrapper .icon.temp-27 { background-image: url(../images/icons/icon-25.png); }
.main .palm-page-header-wrapper .icon.temp-28 { background-image: url(../images/icons/icon-25.png); }
.main .palm-page-header-wrapper .icon.temp-29 { background-image: url(../images/icons/icon-25.png); }
.main .palm-page-header-wrapper .icon.temp-30 { background-image: url(../images/icons/icon-30.png); }
.main .palm-page-header-wrapper .icon.temp-31 { background-image: url(../images/icons/icon-31.png); }
.main .palm-page-header-wrapper .icon.temp-32 { background-image: url(../images/icons/icon-32.png); }
.main .palm-page-header-wrapper .icon.temp-33 { background-image: url(../images/icons/icon-33.png); }
.main .palm-page-header-wrapper .icon.temp-34 { background-image: url(../images/icons/icon-34.png); }
.main .palm-page-header-wrapper .icon.temp-35 { background-image: url(../images/icons/icon-35.png); }
.main .palm-page-header-wrapper .icon.temp-36 { background-image: url(../images/icons/icon-36.png); }
.main .palm-page-header-wrapper .icon.temp-37 { background-image: url(../images/icons/icon-37.png); }
.main .palm-page-header-wrapper .icon.temp-38 { background-image: url(../images/icons/icon-38.png); }
.main .palm-page-header-wrapper .icon.temp-39 { background-image: url(../images/icons/icon-39.png); }
.main .palm-page-header-wrapper .icon.temp-40 { background-image: url(../images/icons/icon-40.png); }
.main .palm-page-header-wrapper .icon.temp-41 { background-image: url(../images/icons/icon-41.png); }
.main .palm-page-header-wrapper .icon.temp-42 { background-image: url(../images/icons/icon-42.png); }
.main .palm-page-header-wrapper .icon.temp-43 { background-image: url(../images/icons/icon-43.png); }
.main .palm-page-header-wrapper .icon.temp-44 { background-image: url(../images/icons/icon-44.png); }
.main .palm-page-header-wrapper .icon.temp-45 { background-image: url(../images/icons/icon-45.png); }
.main .palm-page-header-wrapper .icon.temp-46 { background-image: url(../images/icons/icon-46.png); }
.main .palm-page-header-wrapper .icon.temp-47 { background-image: url(../images/icons/icon-47.png); }
.main .palm-page-header-wrapper .icon.temp-48 { background-image: url(../images/icons/icon-48.png); }
.main .palm-page-header-wrapper .icon.temp-49 { background-image: url(../images/icons/icon-49.png); }
.main .palm-page-header-wrapper .icon.temp-50 { background-image: url(../images/icons/icon-50.png); }
.main .palm-page-header-wrapper .icon.temp-51 { background-image: url(../images/icons/icon-51.png); }
.main .palm-page-header-wrapper .icon.temp-52 { background-image: url(../images/icons/icon-52.png); }
.main .palm-page-header-wrapper .icon.temp-53 { background-image: url(../images/icons/icon-53.png); }
.main .palm-page-header-wrapper .icon.temp-54 { background-image: url(../images/icons/icon-54.png); }
.main .palm-page-header-wrapper .icon.temp-55 { background-image: url(../images/icons/icon-55.png); }
.main .palm-page-header-wrapper .icon.temp-56 { background-image: url(../images/icons/icon-56.png); }
.main .palm-page-header-wrapper .icon.temp-57 { background-image: url(../images/icons/icon-57.png); }
.main .palm-page-header-wrapper .icon.temp-58 { background-image: url(../images/icons/icon-58.png); }
.main .palm-page-header-wrapper .icon.temp-59 { background-image: url(../images/icons/icon-59.png); }
.main .palm-page-header-wrapper .icon.temp-60 { background-image: url(../images/icons/icon-60.png); }
.main .palm-page-header-wrapper .icon.temp-61 { background-image: url(../images/icons/icon-61.png); }
.main .palm-page-header-wrapper .icon.temp-62 { background-image: url(../images/icons/icon-62.png); }
.main .palm-page-header-wrapper .icon.temp-63 { background-image: url(../images/icons/icon-63.png); }
.main .palm-page-header-wrapper .icon.temp-64 { background-image: url(../images/icons/icon-64.png); }
.main .palm-page-header-wrapper .icon.temp-65 { background-image: url(../images/icons/icon-65.png); }
.main .palm-page-header-wrapper .title
{
	padding-left: 80px;
}
.main .palm-page-header-wrapper .title.main
{
	font-size: 30px;
	padding-top: 5px;
	padding-bottom: 0px;
}
.main .palm-page-header-wrapper .title .version
{
	font-size: 12px;
	color: #888;
	text-transform: lowercase;
}
.main .palm-page-header-wrapper .title.sub
{
	font-size: 14px;
	padding-top: 0px;
	margin-top: 0px;
}

.main #graph
{
	position: relative;
	height: 104px;
	padding: 0px;
}
.main #graph .title,
.main #graph .label
{
	padding: 0px;
	margin: 0px;
	float: none;
}
.main #graph .label
{
    line-height: 19px;
    height: 21px;
    min-width: 31px;
	vertical-align: middle;
    -webkit-border-image: url(../images/graphBubble-left.png) 5 10 5 10 stretch stretch;
    -webkit-box-sizing: border-box;
    border-width: 5px 10px 5px 10px;
}
.main #graph .label .count
{
	position: absolute;
	top: -4px;
	left: -3px;
}
.main #graph #scale
{
	position: absolute;
	color: #ccc;
	height: 50px;
	width: 200px;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}
.main #graph #vertTop
{
	position: absolute;
	z-index: 10;
	margin-left: 18px;
	margin-top: 6px;
	top: 0px;
}
.main #graph #vertBot
{
	position: absolute;
	z-index: 10;
	margin-left: 18px;
	top: 77px;
}
.main #graph .fade-left
{
	position: absolute;
	z-index: 1;
	width: 46px;
	height: 101px;
	top: 0px;
	bottom: 100px;
	background: url(../images/graphFade-left.png) top left repeat-y;
}
.main #graph #graphCanvas
{
	position: absolute;
	z-index: 0;
	top: 1px;
}

/*
 * Generic Form Styles
 */
.form .palm-row-wrapper .label.left
{
	padding-left: 6px;
	-webkit-palm-mouse-target: ignore;
}
.form .palm-list-selector .label
{
	float: left;
}
.form .palm-list-selector .title
{
	text-align: right;
}
.form .palm-group.disabled
{
	opacity: 0.35;
}

/*
 * Help Scene Styles
 */
.help .list_scene
{
	position:relative;
	left:48px;
	top:10px;
	width:32px; 
	height:32px;
	vertical-align:bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.help .img_web
{
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/help/application-web.png) no-repeat  bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.help .img_email
{
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/help/application-email.png) no-repeat bottom;
	vertical-align:bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}