<div class="form governor">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="icon"></div>
			<div class="title">CPU Frequency</div>
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title">Governor Selection</div>
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div id="governor" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="palm-separator"></div>
	
    <div id="frequency_group">
    	<div class="palm-group">
    		<div class="palm-group-title">Frequency Selection</div>
    		<div class="palm-list" id="governor_freq">
			
    		</div>
    	</div>
    </div>

    <div id="governor_group">
    	<div class="palm-group">
    		<div class="palm-group-title">Governor Parameters</div>
    		<div class="palm-list" id="governor_params">
			
    		</div>
    	</div>
    </div>

    <div id="override_group">
    	<div class="palm-group">
    		<div class="palm-group-title">Override Parameters</div>
    		<div class="palm-list" id="governor_override">
			
    		</div>
    	</div>
    </div>

	<div id="saveButton" x-mojo-element="Button"></div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
